<h1>This is admins</h1>
<%= link_to 'New Posts', new_admin_blog_post_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
  </tr>
 
  <% @blog_posts.each do |blog_post| %>
    <tr>
      <td><%= blog_post.title %></td>
      <td><%= blog_post.excerpt %></td>
      <td><%= blog_post.content %></td>
      <td><%= link_to 'Show', blog_post_path(blog_post) %></td>
      <td><%= link_to 'Edit', edit_admin_blog_post_path(blog_post) %></td>
      <td><%= link_to 'Destroy', blog_post_path(blog_post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>